@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800&family=Montserrat+Alternates:wght@400;500;600&family=Montserrat:wght@400;500;600;700&family=Newsreader:opsz@6..72&family=Raleway:wght@400;500;600;700&family=Roboto+Condensed:wght@400;700&display=swap");

$bgColor: #f7f7f7;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    body {
        font-family: "Raleway", sans-serif;
        background-color: $bgColor;
        .row {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            a {
                display: inline-block;
            }
            h1{
                font-size: 2rem;
                text-align: center;
                margin-bottom: 20px;
            }
        }
    }
}
